:root{
    --color: hsl(312, 55%, 71%);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.whatsapp-icon {
    position: absolute;
    bottom: -50%;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    background-color: #25D366; /* Color de fondo del botón de WhatsApp */
    border-radius: 50%;
    line-height: 60px;
    color: white;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;

    /* Agregar estilos para centrar verticalmente */
    display: flex;
    justify-content: center;
    align-items: center;
}

.wha {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #25D366;  
}

.precio {
    font-weight: bold;
    font-size: 2rem;
}

.precio::before {
    content: "Gs. ";
}


.wha-icon{
    color: white;
    font-size: 36px;
}

.last {
    position: relative;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    height: 100vh;
}

header {
    background-color: var(--color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

h1 {
    font-size: 8vw;
}

p {
    text-align: center;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



select {
    height: 60px;
    font-size: 2rem;
}

input {
    height: 60px;
    font-size: 2rem;
    width: 90%;
}

main {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 70%;
}

.hidden {
    display: none;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}


button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1.5rem;
    cursor: pointer;
}

button.hidden {
    display: none;
}

.cupon {
    text-transform: uppercase;
}

.precio-sin-cupon{
    color: red;
    text-decoration: line-through;
    margin: 0;
}


.text-cupon {
    font-size: 0.5rem;
}

.text-cupon::before{
    content: "Cupon aplicado: ";
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--color);;
    color: #fff;
    flex-shrink: 0;
    height: 15%;
} 

@media screen and (max-width: 768px) {


    h2 {
        font-size: 3rem;
    }

    h2.mas-chico {
        font-size: 2.3rem;
    }
} 